#any byte‑compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

#virtual environments
venv/
.venv/
env/
.env/

#flask instance folder
instance/

#dotenv environment files
.env
.env.*

#ignore dataset
/household_power_consumption.xlsx

#pytest
.pytest_cache/
pytest.ini
*.cover
.coverage
coverage.xml
htmlcov/

#IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

