#Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Virtual env
venv/
.env

#Ignore dataset
/household_power_consumption.xlsx

#Pytest cache
.pytest_cache/

#IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

#macOS finder
.DS_Store

